import os
import json

BASE_MAILDIR    = "/path/to/maildir/base"
BASEDIR         = os.path.dirname(__file__)
ADDRESS_FILE    = os.path.join(BASEDIR, "addresses.json")
VIPS_FILE       = os.path.join(BASEDIR, "vips.json")

MY_DOMAINS      = ["some.tld", "blog.some.tld"]

with open( ADDRESS_FILE ) as af:
    non_VIPs = json.load(af)

with open( VIPS_FILE ) as vf:
    VIPs = json.load(vf)

addresses = non_VIPs.copy()
addresses.update( VIPs )

mark_read = {
            "from"                      : "me@mytld",
            "from"                      : "redmine@domain.com",
            "subject"                   : "daily backup report",
}

# vim: ft=python
